@model IEnumerable<MvcPlanificacionCabinas.Models.PlanificacionCabinasViewModel>

@{
    ViewBag.Title = "Planificación";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Prioridad", "Index", new { sortOrder = "Prioridad", currentSort = ViewBag.CurrentSort})
        </th>
        <th>
            @Html.ActionLink("Tubo", "Index", new { sortOrder = "Tubo", currentSort = ViewBag.CurrentSort})
        </th>
        <th>
            @Html.ActionLink("recurso", "Index", new { sortOrder = "recurso", currentSort = ViewBag.CurrentSort})
        </th>
        <th>
            @Html.ActionLink("des_subseccion", "Index", new { sortOrder = "des_subseccion", currentSort = ViewBag.CurrentSort})
        </th>
        <th>
            @Html.ActionLink("Order_cod", "Index", new { sortOrder = "Order_cod", currentSort = ViewBag.CurrentSort})
        </th>
        <th>
            @Html.ActionLink("material_cod", "Index", new { sortOrder = "material_cod", currentSort = ViewBag.CurrentSort})
        </th>
        <th>
            @Html.ActionLink("descart", "Index", new { sortOrder = "descart", currentSort = ViewBag.CurrentSort})
        </th>
        <th>
            @Html.ActionLink("Lote", "Index", new { sortOrder = "Lote", currentSort = ViewBag.CurrentSort})
        </th>
        <th>
            @Html.ActionLink("fecha_inicio_Programada", "Index", new { sortOrder = "fecha_inicio_Programada", currentSort = ViewBag.CurrentSort})
        </th>
        <th>
            @Html.ActionLink("Estado", "Index", new { sortOrder = "Estado", currentSort = ViewBag.CurrentSort})
        </th>
        <th>
            @Html.ActionLink("Comentarios", "Index", new { sortOrder = "Comentarios", currentSort = ViewBag.CurrentSort})
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Prioridad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tubo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.recurso)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.des_subseccion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Order_cod)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.material_cod)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.descart)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Lote)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fecha_inicio_Programada)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Estado)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Comentarios)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.Order_cod })
    </td>
</tr>
    }

</table>
